<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body class="bg-gray-100 p-4">
    <div class="max-w-4xl mx-auto bg-white rounded-lg shadow-lg p-6">
        <h1 class="text-3xl font-semibold mb-4">Text Summarizer</h1>
        <form action="" method="post" id="textSummarizerForm">
            <div class="mb-4">
                <label for="inputText" class="block text-gray-700 font-bold mb-2">Input Text:</label>
                <textarea id="inputText" name="inputText" class="w-full h-60 p-2 rounded-md border focus:ring focus:ring-indigo-300" placeholder="Enter your text here...">{{doc}}</textarea>
            </div>
            <div class="mb-4">
                <label for="summaryText" class="block text-gray-700 font-bold mb-2">Summary Text:</label>
                <textarea id="summaryText" name="summaryText" class="w-full h-40 p-2 rounded-md border focus:ring focus:ring-indigo-300" readonly>{{summary}}</textarea>
            </div>
            <div class="text-center">
                <button type="submit" id="summarizeButton" class="bg-indigo-500 text-white font-bold py-2 px-4 rounded-full focus:outline-none focus:ring focus:ring-indigo-300">Summarize</button>
                <button type="button" id="resetButton" class="bg-red-500 text-white font-bold py-2 px-4 rounded-full focus:outline-none focus:ring focus:ring-red-300">Reset</button>
            </div>
        </form> 
    </div>
    <script>
        const reset =document.getElementById("resetButton");
        reset.addEventListener("click",function(){
            document.getElementById("inputText").value = "";
            document.getElementById("summaryText").value = "";
        })
    </script>
    
</body>
</html>